#toAddClient{
    font-weight: bold;
}
input#idFacture{
    align-items: start;
}
.input-left-align {
    text-align: start !important;
}

#ajouterFacture{
    background-color: #4e5066;
    color: white;
}